[Unit]
Description=OSRM USA Container Starter
After=network.target

[Service]
Type=oneshot
User=csda
WorkingDirectory=/home/osrm
ExecStartPre=/bin/bash -lc 'for i in {1..20}; do docker ps >/dev/null 2>&1 && exit 0; sleep 3; done; exit 1'
ExecStart=/home/osrm/run_osrm_usa.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
