[Unit]
Description=Smart Routing API
After=network.target

[Service]
Type=simple
User=csda
WorkingDirectory=/home/csda/AI_Routing
ExecStart=/home/csda/AI_Routing/.venv/bin/python /home/csda/AI_Routing/sr_vrp_api_server.py --host 0.0.0.0 --port 8055
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
